RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_QUEUE=service_a_queue
RABBITMQ_SERVICE_B_QUEUE=service_b_queue

MONGODB_URI=mongodb://localhost:27017/service_a
MONGO_BATCH_SIZE=500

REDIS_URL=redis://localhost:6379
REDIS_METRICS_RETENTION_MS=604800000

STORAGE_DIR=./data/archives

GITHUB_ARCHIVE_BASE_URL=https://data.gharchive.org
ARCHIVE_DOWNLOAD_TIMEOUT_MS=30000

LOG_LEVEL=trace
APP_LOG_TRANSPORT=pretty
