RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_QUEUE=service_b_queue
RABBITMQ_PREFETCH_COUNT=10
RABBITMQ_MAX_RETRIES=5
RABBITMQ_DEAD_LETTER_QUEUE=service_b_queue.dlq

MONGODB_URI=mongodb://localhost:27017/service_b
REPORT_DIR=./data/reports

REDIS_URL=redis://localhost:6379

LOG_LEVEL=trace
APP_LOG_TRANSPORT=pretty
