PORT=3000

RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_SERVICE_B_QUEUE=service_b_queue
RABBITMQ_SERVICE_A_QUEUE=service_a_queue

LOG_LEVEL=trace
APP_LOG_TRANSPORT=pretty

MONGODB_URI=mongodb://localhost:27017/gateway
MONGODB_PING_TIMEOUT_MS=3000
REDIS_URL=redis://localhost:6379
REDIS_PING_TIMEOUT_MS=3000
